# Estadística

La clase pasada vimos que numpy tiene muchas funciones que nos simplifican la vida a los data scientists.

Numpy, también incluye funciones para calcular la media, desviación estandar, moda, percentiles, etc.

Veamos algunas de ellas...

## La media

Dados $n$ números $x_1,x_2,...,x_n$, el promedio o media es 

$$\overline{x} = \frac{1}{n}\sum_{i=1}^{n} x_i = \frac{x_1 + x_2 + ... + x_n}{n}$$

Primero calculemos la media de un array sin usar la función de numpy.

Ejercicio: Hacer una función que reciba un array de numpy como parámetro y retorne su media

In [13]:
import numpy as np

In [14]:
np_array = np.arange(100)

In [15]:
def media(numbers_array):
    prom = numbers_array.sum()/len(numbers_array)
    return prom
print(media(np_array))

49.5

Ahora.. como lo hacemos con numpy? Es mucho más simple!

In [16]:
np.mean(np_array)

49.5

## La mediana

Vimos que la mediana es un valor tal que bajo ella se encuentran el 50% de las observaciones.

Numpy también nos provee una función para calcular la mediana en una sola línea de código:

In [17]:
np.median(np_array)

49.5

## Desviación estandar

In [18]:
np.std(np_array)

28.86607004772212

## Varianza

In [19]:
np.var(np_array)

833.25

## Percentiles

In [21]:
np.quantile(np_array, 0.5) # Es igual a la mediana

49.5

In [22]:
np.quantile(np_array, 0.25)

24.75

# Pandas

Ahora si, arranquemos con Pandas.

Pandas es otra librería muy utilizada por data scientists. El principal concepto detrás de Pandas es el DataFrame.

Un DataFrame es una estructura de datos con dos dimensiones en la cual se puede guardar datos de distintos tipos (como caractéres, enteros, valores de punto flotante, factores y más) en columnas. En un DataFrame se van a almacenar los datos con los que querramos trabajar. 

Pandas nos provee muchas funciones para manipular datos en un DataFrame.

Pandas corre sobre Numpy, de manera que hay muchas cosas en comun.

Primero que nada, importemos pandas

In [15]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\apacek\anaconda3\lib\site-packages (1.4.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\apacek\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\apacek\anaconda3\lib\site-packages (from pandas) (2022.2.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\apacek\anaconda3\lib\site-packages (from pandas) (1.22.0)
Requirement already satisfied: six>=1.5 in c:\users\apacek\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

WARNING: Ignoring invalid distribution -pencv-python (c:\users\apacek\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\apacek\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\apacek\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\apacek\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\apacek\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\apacek\anaconda3\lib\site-packages)

In [2]:
import pandas as pd

Un DataFrame se puede crear por ejemplo, a partir de un archivo csv (caso más común).

Para eso, pandas nos provee la función read_csv.

Antes que nada, si estamos trabajando en google colab, debemos montar drive en nuestro notebook.

Una vez montado drive, debemos reemplazar el path al archivo:

In [1]:
#from google.colab import drive # La usamos para montar nuestra unidad de Google Drive
#drive.mount('/content/drive') # Montamos nuestra unidad de Google Drive
#iris_dataset = pd.read_csv('drive/MyDrive/ICARO/Curso DS/Clases/Clase 4/iris_dataset.csv') "Ruta del drive donde esta guardado el dataset + iris_dataset.csv"

In [39]:
iris_dataset = pd.read_csv('iris_dataset.csv')

In [40]:
numeros = pd.read_csv('numeros.csv')

In [25]:
numeros
print(numeros.std())

numeros    29.011492
dtype: float64

In [38]:
import numpy as np
import pandas as pd
arr=np.arange(100)
print(f'numpy std poblacional por defecto: {np.std(arr)}')
print(f'numpy std muestral: {np.std(arr,ddof=1)}')
print(f'panda std muestral por defecto: {pd.DataFrame(arr)[0].std()}')
print(f'panda std poblacional: {pd.DataFrame(arr)[0].std(ddof=0)}')
print(f'describe() de panda no tiene poblacional: {pd.DataFrame(arr).describe()}')

numpy std poblacional por defecto: 28.86607004772212
numpy std muestral: 29.011491975882016
panda std muestral por defecto: 29.011491975882016
panda std poblacional: 28.86607004772212
describe() de panda no tiene poblacional:                 0
count  100.000000
mean    49.500000
std     29.011492
min      0.000000
25%     24.750000
50%     49.500000
75%     74.250000
max     99.000000

In [3]:
iris_dataset

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

Lo que hicimos fue leer un archivo csv y meterlo dentro de un DataFrame de pandas. Este DataFrame tiene filas y columnas.

Cada columna tiene un tipo de dato. Esto podemos verlo con la función info()

In [4]:
iris_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

Nos dice que todas las columnas son del tipo float, a excepción de "species" que es del tipo "object".

Es importante tener en cuenta el tipo de datos de las columnas ya que de esto depende las operaciones que podemos hacer sobre las mismas.

El dataset que estamos usando (iris_dataset) es muy conocido, pueden googlear para saber más del mismo.


Otra función muy útil de los DataFrames es describe()

In [5]:
iris_dataset.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

Describe, nos da datos estadísticos de nuesto DataFrame.

Un DataFrame, puede tener valores faltantes. Estos valores faltantes en pandas se representan como NaN.

Cuántos datos faltantes hay en este DataFrame?

In [6]:
iris_dataset.isna().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

Ninguno! Este dataset no tiene datos faltantes (rara vez nos vamos a encontrar con datasets de este tipo)

También podemos aplicar funciones sobre una columna.

Para seleccionar una columna, utilizamos [].

In [9]:
iris_dataset['sepal_length']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

Que tipo de dato nos retorna esto?

In [10]:
type(iris_dataset['sepal_length'])

pandas.core.series.Series

Una "Series". Una series es el objeto que compone a los dataframes de pandas.

Este objeto es muy similar a los que es un array de Numpy (de hecho esta construido sobre el). La diferencia es que el objeto Series tiene etiquetas (labels), eso quiere decir que puede ser indexado por la etiqueta, y no solo por la posicion.

Si en lugar de obtener una Series, quiero un DataFrame, puedo hacerlo utilizando corchetes dobles:

In [11]:
iris_dataset[['sepal_length']]

     sepal_length
0             5.1
1             4.9
2             4.7
3             4.6
4             5.0
..            ...
145           6.7
146           6.3
147           6.5
148           6.2
149           5.9

[150 rows x 1 columns]

En este caso, puedo seleccionar todas las columnas que quiera

In [12]:
iris_dataset[['sepal_length', 'sepal_width', 'species']]

     sepal_length  sepal_width    species
0             5.1          3.5     setosa
1             4.9          3.0     setosa
2             4.7          3.2     setosa
3             4.6          3.1     setosa
4             5.0          3.6     setosa
..            ...          ...        ...
145           6.7          3.0  virginica
146           6.3          2.5  virginica
147           6.5          3.0  virginica
148           6.2          3.4  virginica
149           5.9          3.0  virginica

[150 rows x 3 columns]

Los DataFrames también tienen un atributo "columns":

In [13]:
iris_dataset.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

Y otro atributo index:

In [14]:
iris_dataset.index

RangeIndex(start=0, stop=150, step=1)

Podemos elegir cualquier columna como index:

In [15]:
iris_dataset = iris_dataset.set_index('sepal_length')

Si nos arrepentimos, podemos resetear el index para que vuelva a ser numérico

In [16]:
iris_dataset = iris_dataset.reset_index()

In [17]:
iris_dataset

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

### Head, Tail y Sample

A veces tenemos DataFrames con muchisimos datos y no queremos imprimir todo en un notebook, simplemente algunas filas como ejemplo.

Para esto existen las funciones head(), tail() y sample()

In [18]:
iris_dataset.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [19]:
iris_dataset.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [20]:
iris_dataset.sample(5, random_state=42)

     sepal_length  sepal_width  petal_length  petal_width     species
73            6.1          2.8           4.7          1.2  versicolor
18            5.7          3.8           1.7          0.3      setosa
118           7.7          2.6           6.9          2.3   virginica
78            6.0          2.9           4.5          1.5  versicolor
76            6.8          2.8           4.8          1.4  versicolor

In [54]:
help(pd.DataFrame.sample)

Help on function sample in module pandas.core.generic:

sample(self: 'NDFrameT', n: 'int | None' = None, frac: 'float | None' = None, replace: 'bool_t' = False, weights=None, random_state: 'RandomState | None' = None, axis: 'Axis | None' = None, ignore_index: 'bool_t' = False) -> 'NDFrameT'
    Return a random sample of items from an axis of object.

    You can use `random_state` for reproducibility.

    Parameters
    ----------
    n : int, optional
        Number of items from axis to return. Cannot be used with `frac`.
        Default = 1 if `frac` = None.
    frac : float, optional
        Fraction of axis items to return. Cannot be used with `n`.
    replace : bool, default False
        Allow or disallow sampling of the same row more than once.
    weights : str or ndarray-like, optional
        Default 'None' results in equal probability weighting.
        If passed a Series, will align with target object on index. Index
        values in weights not found in sampled object will be ignored and
        index values in sampled object not in weights will be assigned
        weights of zero.
        If called on a DataFrame, will accept the name of a column
        when axis = 0.
        Unless weights are a Series, weights must be same length as axis
        being sampled.
        If weights do not sum to 1, they will be normalized to sum to 1.
        Missing values in the weights column will be treated as zero.
        Infinite values not allowed.
    random_state : int, array-like, BitGenerator, np.random.RandomState, np.random.Generator, optional
        If int, array-like, or BitGenerator, seed for random number generator.
        If np.random.RandomState or np.random.Generator, use as given.

        .. versionchanged:: 1.1.0

            array-like and BitGenerator object now passed to np.random.RandomState()
            as seed

        .. versionchanged:: 1.4.0

            np.random.Generator objects now accepted

    axis : {0 or ‘index’, 1 or ‘columns’, None}, default None
        Axis to sample. Accepts axis number or name. Default is stat axis
        for given data type (0 for Series and DataFrames).
    ignore_index : bool, default False
        If True, the resulting index will be labeled 0, 1, …, n - 1.

        .. versionadded:: 1.3.0

    Returns
    -------
    Series or DataFrame
        A new object of same type as caller containing `n` items randomly
        sampled from the caller object.

    See Also
    --------
    DataFrameGroupBy.sample: Generates random samples from each group of a
        DataFrame object.
    SeriesGroupBy.sample: Generates random samples from each group of a
        Series object.
    numpy.random.choice: Generates a random sample from a given 1-D numpy
        array.

    Notes
    -----
    If `frac` > 1, `replacement` should be set to `True`.

    Examples
    --------
    >>> df = pd.DataFrame({'num_legs': [2, 4, 8, 0],
    ...                    'num_wings': [2, 0, 0, 0],
    ...                    'num_specimen_seen': [10, 2, 1, 8]},
    ...                   index=['falcon', 'dog', 'spider', 'fish'])
    >>> df
            num_legs  num_wings  num_specimen_seen
    falcon         2          2                 10
    dog            4          0                  2
    spider         8          0                  1
    fish           0          0                  8

    Extract 3 random elements from the ``Series`` ``df['num_legs']``:
    Note that we use `random_state` to ensure the reproducibility of
    the examples.

    >>> df['num_legs'].sample(n=3, random_state=1)
    fish      0
    spider    8
    falcon    2
    Name: num_legs, dtype: int64

    A random 50% sample of the ``DataFrame`` with replacement:

    >>> df.sample(frac=0.5, replace=True, random_state=1)
          num_legs  num_wings  num_specimen_seen
    dog          4          0                  2
    fish         0          0                  8

    An upsample sample of the ``DataFrame`` with replacement:
    Note that `replace` parameter has to be `True` for `frac` parameter > 1.

    >>> df.sample(frac=2, replace=True, random_state=1)
            num_legs  num_wings  num_specimen_seen
    dog            4          0                  2
    fish           0          0                  8
    falcon         2          2                 10
    falcon         2          2                 10
    fish           0          0                  8
    dog            4          0                  2
    fish           0          0                  8
    dog            4          0                  2

    Using a DataFrame column as weights. Rows with larger value in the
    `num_specimen_seen` column are more likely to be sampled.

    >>> df.sample(n=2, weights='num_specimen_seen', random_state=1)
            num_legs  num_wings  num_specimen_seen
    falcon         2          2                 10
    fish           0          0                  8

Cuál es la diferencia entre las 3?

#### loc e iloc

Pandas nos probee las funciones loc e iloc para acceder a sus datos.

Para que sirven?

Investigar

In [ ]:
#LOC: 
#accede a un grupo de filas y columnas por etiquetas o un arreglo booleano. Los extremos estan incluidos

In [21]:
iris_dataset.loc[1:3,['sepal_length','sepal_width','petal_length']]

   sepal_length  sepal_width  petal_length
1           4.9          3.0           1.4
2           4.7          3.2           1.3
3           4.6          3.1           1.5

In [22]:
iris_dataset[['sepal_length','sepal_width','petal_length']]

     sepal_length  sepal_width  petal_length
0             5.1          3.5           1.4
1             4.9          3.0           1.4
2             4.7          3.2           1.3
3             4.6          3.1           1.5
4             5.0          3.6           1.4
..            ...          ...           ...
145           6.7          3.0           5.2
146           6.3          2.5           5.0
147           6.5          3.0           5.2
148           6.2          3.4           5.4
149           5.9          3.0           5.1

[150 rows x 3 columns]

In [ ]:
#ILOC: 
#Index LOC ---> Localiza elementos del dataframe a travez de sus indices

In [23]:
iris_dataset.iloc[2,3]

0.2

In [24]:
iris_dataset

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]